body {
	background: lavenderblush;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.height {
	background: royalblue;
	height: 60px;
}

.height1 {
	border: 5px;
	max-height: 100px;
	text-align: center;
}
.height2 {
	border: 5px;
	min-height: 50px;
}
.img {
	max-height: 100px;
}

.main {
	font-size: 2em;
	float: left;
	width: 67%;
	background: lavenderblush;
}

.mainside {
	float: right;
	width: 33%;
	background: lavenderblush;
}

canvas {
	cursor: pointer;
	border: 1px solid black;
	background: seashell;
	margin: 10px 50px 10px 50px;
}

.command-input {
	background: lavenderblush;
	height: 50px;
	border: none;
	font-size: 2em;
	top: 3px;
	width: 120px;
	border: 0 3px 0 0;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.layer {
	display: block;
	padding-top: 6px;
	text-align: center;
	width: 200px;
	height: 50px;
	font-size: 2em;
	color: rgb(255, 255, 255);
	background-color: rgb(75, 124, 0);
}

label {
	padding-top: 7px;
	margin-top: 6px;
	margin-bottom: 6px;
}

.label {
	text-align: center;
	width: 80px;
	font-size: 1.5em;
	font-weight: 900;
	color: black;
	display: inline-block;
}

.label0 {
	text-align: left;
	width:90px;
	font-size: 1.2em;
	font-weight: 900;
	color: black;
	display: inline-block;
}



.label1 {
	cursor: pointer;
	display: block;
	padding-top: 6px;
	text-align: center;
	width: 200px;
	height: 50px;
	font-size: 2em;
	color: white;
	display: inline-block;
	background-color: royalblue;
}

.label1:hover {
	background-color: rgb(55, 88, 187)
}

.label2 {
	cursor: pointer;
	padding-top: 6px;
	text-align: center;
	width: 95%;
	height: 50px;
	font-size: 2em;
	font-weight: 900;
	color: white;
	display: inline-block;
	background-color: red;
}

.label4,
.label3 {
	float: left;
}

.label3 {
	margin-left: 3px;
	padding-top: 3px;
	text-align: center;
	width: 50px;
	height: 30px;
	font-size: 1.3em;
	font-weight: 900;
	color: rgb(255, 0, 0);
	display: inline-block;
	background-color: lavenderblush;
}

.label4 {
	margin-left: 3px;
	padding-top: 3px;
	text-align: center;
	width: 50px;
	height: 30px;
	font-size: 1.3em;
	font-weight: 900;
	color: lavenderblush;
	display: inline-block;
	background-color: rgb(255, 0, 0);
}

.topbar {
	width: 70%;
	min-height: 50px;
}

.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown label {
	display: block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}


